.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
    margin-left: 25px;
}
.widgets-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.widgets-article{
    display: flex;
  padding: 10px;
  cursor: pointer;
}
.widgets-article:hover{
    background-color: whitesmoke;
}
.article-left{
    color: #0177b7;
    margin-right: 5px;
}
.article-left >.MuiSvgIcon-root{
    font-size: 10px;
}
.article-right{

    flex: 1;
}
.article-right>h4{
    font-size: 15px;
}
.article-right>p{
    font-size: 12px;
}